Repository buildkite/docs, pull requests merged in 2022-08, with the labels that each got.

#1671 Be more helpful when talking about the agent
  pages/agent/v3.md.erb
Labels: Feedback

#1676 Fix the indenting/numbering
  pages/test_analytics/swift_collectors.md.erb
Labels: :zap: quick fix (merge-on-approve)

#1680 Fix link in REST API - Builds page
  pages/apis/rest_api/builds.md.erb
Labels: :zap: quick fix (merge-on-approve)

#1677 Keep render previews for 2 days after the last commit instead of 5
  render.yaml
Labels: :zap: quick fix (merge-on-approve)

#1681 Mention issue and solution
  pages/test_analytics/ruby_collectors.md.erb
Labels: test-analytics

#1689 Tiny fix to clarify the attribute earlier
  pages/pipelines/trigger_step.md.erb
Labels: Feedback

#1686 Fixes one space character, replaces link
  app/views/pages/index.html.erb
Labels: :zap: quick fix (merge-on-approve)

#1696 Add note about not supporting gitlab commit status
  pages/integrations/gitlab.md.erb
Labels: support-docs

#1701 🍱 Diagram fix: Build state running can still become failed
  images/docs/pipelines/defining_steps/build-states.svg
Labels: :zap: quick fix (merge-on-approve)

#1698 Add missing documentation on span objects 'detail' attribute
  app/models/test_analytics_json.rb
  data/test_analytics_json_fields_detail.yaml
  data/test_analytics_json_fields_span.yaml
  pages/test_analytics/importing_json.md.erb
Labels: test-analytics

#1699 More feedback
  scripts/emojicom-processed-ratings.txt
Labels: :zap: quick fix (merge-on-approve)

#1714 Update feedback from Emojicom
  scripts/emojicom-processed-ratings.txt
Labels: :zap: quick fix (merge-on-approve)
