Repository buildkite/docs, pull requests merged in 2022-07, with the labels that each got.

#1621 🚸 Homepage Elastic CI section
  app/assets/stylesheets/public/_homepage.scss
  app/assets/stylesheets/public/_variables.scss
  app/assets/stylesheets/public/utils/_button.scss
  app/views/layouts/homepage.html.erb
  app/views/pages/index.html.erb
  images/docs/icons/agents_install.svg
  images/docs/icons/elastic.svg
Labels: wip

#1634 Add note about permissions for github provider
  pages/integrations/github.md.erb
Labels: support-docs

#1647 Sentence-case H2 fixes, round 1
  pages/agent/v3.md.erb
  pages/apis/graphql_api.md.erb
  pages/apis/managing_api_tokens.md.erb
  pages/pipelines/managing_log_output.md.erb
  vale/styles/Buildkite/existence-case-sensitive.yml
  vale/styles/Buildkite/h2-h6_sentence_case.yml
Labels: :zap: quick fix (merge-on-approve)

#1653 Typo fix
  pages/pipelines/managing_priorities.md.erb
Labels: :zap: quick fix (merge-on-approve)

#1652 Add Contributor Covenant v2.1.
  CODE_OF_CONDUCT.md
Labels: :zap: quick fix (merge-on-approve)

#1656 Update agent docs for v3.38
  data/agent_attributes.yaml
  pages/agent/v3.md.erb
  pages/agent/v3/help/_start.md
  pages/agent/v3/tracing.md.erb
Labels: :zap: quick fix (merge-on-approve)

#1662 Spell check happens in Vale now so we dont need this
  .buildkite/pipeline.yml
Labels: :zap: quick fix (merge-on-approve)

#1661 Version bump!
  pages/test_analytics/swift_collectors.md.erb
Labels: test-analytics

#1667 🔥 Remove _sidebar.html.erb
  app/views/layouts/_sidebar.html.erb
Labels: :zap: quick fix (merge-on-approve)
