Repository buildkite/docs, pull requests merged in 2023-06, with the labels that each got.

#2172 Trigger step `soft_fail` doesn't accept `exit_status`
  pages/pipelines/trigger_step.md
Labels: pipelines

#2147 example for searching agent with in an org
  pages/apis/graphql/graphql_cookbook.md
Labels: api, graphql

#2171 document setting default queue for clusters with the REST API
  pages/apis/rest_api/clusters.md
Labels: api, rest

#2156 document adding pipelines to a cluster
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#2108 Clarification on pipeline upload order
  pages/pipelines/defining_steps.md
Labels: pipelines

#2155 REST API: Clusters Queues list/get documentation
  pages/apis/rest_api/clusters.md
Labels: api, rest

#2186 Add missing "#" to notify -> slack -> channels example for step-level Slack notifications
  pages/pipelines/notifications.md
Labels: pipelines

#2166 add documentation for pausing and resuming cluster queues with the REST API
  pages/apis/rest_api/clusters.md
Labels: api, rest

#2176 PIE-1675 Analytics rest api suite#show docs
  app/models/beta_pages.rb
  data/nav.yml
  pages/apis/rest_api/analytics/suites.md
Labels: api, rest

#2184 Add documentation on tests#show Test Analytics REST API endpoint
  app/models/beta_pages.rb
  data/nav.yml
  pages/apis/rest_api/analytics/tests.md
Labels: api, rest

#2197 add docs for creating, update and deleting cluster queues with REST API
  pages/apis/rest_api/clusters.md
Labels: api, rest

#2193 Rework the introductory content
  data/nav.yml
  images/docs/pipelines/create_your_own/new-pipeline-button.svg
  images/docs/tutorials/getting_started/getting-started-first-build.png
  images/docs/tutorials/getting_started/getting-started-log-output.png
  images/docs/tutorials/getting_started/hybrid-saas-architecture.svg
  pages/pipelines/create_your_own.md
  pages/tutorials/getting_started.md
Labels: pipelines

#2153 Restructure the Clusters page into a new section
  config/routes.rb
  data/nav.yml
  images/docs/clusters/overview/clusters-architecture.png
  pages/agent/v3/queues.md
  pages/apis/rest_api/clusters.md
  pages/apis/rest_api/pipelines.md
  pages/clusters/manage_clusters.md
  pages/clusters/overview.md
  pages/pipelines/migrate_from_jenkins.md
Labels: pipelines, api, rest, agent

#2205 Fix typo in cluster queue pausing REST API docs
  pages/apis/rest_api/clusters.md
Labels: api, rest

#2207 PIE-1719 Test analytics rest api runs#index docs
  pages/apis/rest_api/analytics/runs.md
Labels: api, rest

#2208 TA suites#create rest api endpoint
  pages/apis/rest_api/analytics/suites.md
Labels: api, rest

#2136 Polyglot hooks docs
  pages/agent/v3/hooks.md
  vale/styles/vocab.txt
Labels: agent

#2212 s/Golang/Go/ because the latter is its name
  data/nav.yml
  data/tiles.yml
  pages/agent/v2/upgrading_to_v3.md
  pages/pipelines/example_pipelines.md
  pages/pipelines/managing_log_output.md
  pages/test_analytics.md
  pages/test_analytics/golang_collectors.md
  pages/test_analytics/ruby_collectors.md
  pages/test_analytics/rust_collectors.md
  vale/styles/Buildkite/h1-h6_sentence_case.yml
  vale/styles/vocab.txt
Labels: test-analytics, pipelines, agent

#2200 Update/Document GCS support for build retention and build exports
  pages/pipelines/build_exports.md
  pages/pipelines/build_retention.md
Labels: pipelines

#2216 Deprecate read_flaky_tests scope in favour of read_suites
  pages/apis/managing_api_tokens.md
  pages/apis/rest_api/analytics/flaky_tests.md
Labels: api, rest

#2217 Fix polyglot hooks writing style
  pages/agent/v3/hooks.md
Labels: agent

#2218 Document write_suites scope
  pages/apis/managing_api_tokens.md
Labels: api

#2189 PIE-1713/TA REST API documentation
  app/models/beta_pages.rb
  data/nav.yml
  pages/apis/managing_api_tokens.md
  pages/apis/rest_api/analytics/flaky_tests.md
  pages/apis/rest_api/analytics/runs.md
  pages/apis/rest_api/analytics/suites.md
  pages/apis/rest_api/analytics/tests.md
Labels: api, rest

#2228 Bugfix curl command for Suite#create (localhost => com)
  pages/apis/rest_api/analytics/suites.md
Labels: api, rest

#2219 Update "managing API tokens" to include automatic inactive token expiry
  pages/apis/managing_api_tokens.md
Labels: api

#2232 Revoking inactive tokens automatically is Enterprise feature
  pages/apis/managing_api_tokens.md
Labels: api

#2233 [PIE-1810] Fix typo in suites#create documentation (http->https)
  pages/apis/rest_api/analytics/suites.md
Labels: api, rest

#2202 Add skip_builds_for_existing_commits
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#2237 Remove graphql create and remove token entry in api differences
  pages/apis/api_differences.md
Labels: api

#2240 Pattern for promoted experiments
  data/content/agent_attributes.yaml
  data/content/environment_variables.yaml
  pages/agent/v3.md
Labels: agent

#2196 Update docs for Agent v3.48.0
  data/content/agent_attributes.yaml
  data/content/environment_variables.yaml
  pages/agent/v3.md
  pages/agent/v3/help/_start.md
Labels: agent

#2210 Add 'coordinating multiple agents'
  pages/tutorials/parallel_builds.md
Labels: pipelines

#2249 Store and use the token
  pages/agent/v3/help/_lock_acquire.md
  pages/agent/v3/help/_lock_do.md
  pages/agent/v3/help/_lock_done.md
  pages/agent/v3/help/_lock_get.md
  pages/agent/v3/help/_lock_release.md
  pages/tutorials/parallel_builds.md
Labels: pipelines, agent

#2220 Document the GraphQL Usage API
  pages/apis/graphql/graphql_cookbook.md
  pages/pipelines/job_minutes.md
  pages/test_analytics/test_executions.md
Labels: test-analytics, pipelines, api, graphql

#2229 rate limits documentation
  data/nav_graphql.yml
  pages/apis/graphql/graphql_resource_limits.md
Labels: api, graphql

#2257 Reworking the require and assign sections for pipeline templates
  pages/pipelines/templates.md
Labels: pipelines

#2251 [PIE-1819] Documentation for Analytics REST API Suites#update and Suite#destroy
  pages/apis/rest_api/analytics/suites.md
Labels: api, rest

#2255 Add documentation for pipeline templates (EDGE-963)
  data/nav.yml
  pages/pipelines/governance.md
  pages/pipelines/templates.md
Labels: pipelines

#2250 [PDP-1039] Add documentation for Allowed IP Addresses in cluster agent tokens
  data/graphql_data_schema.json
  pages/agent/v3/securing.md
  pages/apis/graphql/schemas/enum/auditsubjecttype.md
  pages/apis/graphql/schemas/input_object/clusteragenttokencreateinput.md
  pages/apis/graphql/schemas/input_object/clusteragenttokenupdateinput.md
  pages/apis/graphql/schemas/object/clustertoken.md
  pages/apis/rest_api/clusters.md
  pages/clusters/manage_clusters.md
  vale/styles/vocab.txt
Labels: api, graphql, rest, agent

#2256 Add agent monitoring and observing doc
  data/nav.yml
  images/docs/agent/v3/monitoring/status-page.png
  pages/agent/v3/monitoring.md
Labels: agent

#2262 Update screenshot that highlights audit log
  images/docs/pipelines/audit_log/audit-log-in-organization-settings.png
  pages/pipelines/audit_log.md
Labels: pipelines

#2259 Proposal: Move Build exports page into Governance section
  data/nav.yml
  pages/pipelines/governance.md
Labels: pipelines
