Repository buildkite/docs, pull requests merged in 2023-11, with the labels that each got.

#2547 Update for agent v3.58.0 and stack v6.10.0
  data/content/aws-stack.yml
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
Labels: agent

#2538 Documentation for 'retry failed jobs' button
  images/docs/pipelines/dashboard_walkthrough/inside-build-page.png
  pages/pipelines/dashboard_walkthrough.md
Labels: pipelines

#2550 Add a page on REST API rate limits
  data/nav.yml
  pages/apis/rest_api/limits.md
Labels: api, rest

#2537 Added `id` to cluster Update / PUT endpoint
  pages/apis/rest_api/clusters.md
Labels: api, rest

#2536 Fix typo in artifacts.md
  pages/pipelines/artifacts.md
Labels: pipelines

#2533 Update webhooks log count
  pages/apis/webhooks.md
Labels: api

#2528 Fix typo when replacing go test with gotestsum
  pages/test_analytics/golang_collectors.md
Labels: test-analytics

#2443 add example of targeting a Windows agent elastic stack
  pages/agent/v3/elastic_ci_aws.md
Labels: agent

#2411 Add log-collector script section to Elastic Stack docs
  pages/agent/v3/elastic_ci_aws/troubleshooting.md
Labels: agent

#2475 Fixed GitHub sync description for plugins page
  pages/plugins/directory.md
Labels: plugins

#2489 Fixed Aqua session type section for macOS
  pages/agent/v3/elastic_ci_stack_for_ec2_mac/troubleshooting.md
Labels: agent

#2551 Update cli annotation with term block limit
  pages/agent/v3/cli_annotate.md
Labels: agent

#2556 Document run `state` and `result`
  pages/apis/rest_api/analytics/runs.md
Labels: api, rest

#2558 Small update/ammendment to managing_log_output docs
  pages/pipelines/managing_log_output.md
Labels: pipelines

#2559 Update cli reference for agent v3.59.0
  data/nav.yml
  pages/agent/v3/cli_reference.md
  pages/agent/v3/cli_tool.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
  pages/agent/v3/help/_tool_keygen.md
  pages/agent/v3/help/_tool_sign.md
  scripts/update-agent-help.sh
Labels: agent

#2570 update API docs to reflect new step attributes
  pages/apis/rest_api/builds.md
Labels: api, rest

#2568 Mention Amazon EventBridge as option to stream audit log events
  pages/pipelines/audit_log.md
Labels: pipelines

#2524 Signed pipelines guide docs
  data/nav.yml
  pages/agent/v3/securing.md
  pages/agent/v3/signed_pipelines.md
  pages/apis/rest_api/builds.md
  vale/styles/Buildkite/h1-h6_sentence_case.yml
  vale/styles/vocab.txt
Labels: api, rest, agent

#2574 Fix list formatting in Signed Pipeline docs
  pages/agent/v3/signed_pipelines.md
Labels: agent

#2575 Fix rendering ERB partial
  app/models/page.rb
  pages/apis/rest_api/_builds_list_query_strings.html.erb
Labels: bug, api, rest
