Repository buildkite/docs, pull requests merged in 2023-02, with the labels that each got.

#1857 [ONB-136] Add pipeline for keeping GraphQL docs up-to-date
  .buildkite/pipeline.graphql.yml
  .buildkite/update_graphql_docs
  Dockerfile
  Gemfile
  Gemfile.lock
  lib/tasks/graphql.rake
Labels: enhancement

#1777 Minor clarifications
  pages/plugins/writing.md.erb
Labels: plugins

#1844 Update yml examples
  pages/deployments/deploying_to_heroku.md.erb
Labels: support-docs

#1873 Update states of cancel builds via API
  pages/apis/rest_api/builds.md.erb
Labels: support-docs, api, rest

#1872 Add github merge queue to tutorials
  data/nav.yml
  pages/pipelines/skipping.md
  pages/tutorials/github_merge_queue.md
Labels: pipelines

#1884 add clarification in merge queue tutorial around the "skip builds with existing commits" option
  pages/tutorials/github_merge_queue.md
Labels: pipelines

#1879 Matrix values can now go into plugin config
  pages/pipelines/build_matrix.md
  pages/pipelines/command_step.md
Labels: pipelines

#1887 Update footer link to point to the correct Slack channel
  app/views/application/_footer.html.erb
Labels: bug

#1899 Fix k8s links
  pages/agent/v2/gcloud.md
  pages/agent/v3/gcloud.md
Labels: agent

#1882 Document support for Jasmine and Mocha in JS Collector
  pages/test_analytics/javascript_collectors.md
  vale/styles/vocab.txt
Labels: test-analytics

#1900 Fix Rspec link to instance_of
  pages/test_analytics/ruby_collectors.md
Labels: test-analytics
