Repository buildkite/docs, pull requests merged in 2023-03, with the labels that each got.

#1906 Use dependabot for managing docker image upgrades
  .github/dependabot.yml
Labels: docker

#1891 Added Slack user mentions example
  pages/pipelines/notifications.md
Labels: enhancement, support-docs, pipelines

#1902 Update agent docs for v3.44 release
  pages/agent/v3/elastic_ci_aws.md
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_oidc_request_token.md
  pages/agent/v3/help/_start.md
Labels: agent

#1890 Add section describing changing the agent service user on Windows
  pages/agent/v3/windows.md
Labels: support-docs, agent

#1911 Fix typo - add missing 's'
  pages/test_analytics/importing_junit_xml.md
Labels: test-analytics

#1889 💄 Style makeover post release bug fixes
  app/assets/javascripts/toc.js
  app/assets/stylesheets/base/_fonts.scss
  app/assets/stylesheets/base/_global.scss
  app/assets/stylesheets/base/_text_content.scss
  app/assets/stylesheets/base/_variables.scss
  app/assets/stylesheets/components/_algolia.scss
  app/assets/stylesheets/components/_button.scss
  app/assets/stylesheets/components/_dropdown.scss
  app/assets/stylesheets/components/_login_signup.scss
  app/assets/stylesheets/components/_nav.scss
  app/assets/stylesheets/components/_pill.scss
  app/assets/stylesheets/components/_search.scss
  app/assets/stylesheets/components/_tiles.scss
  app/assets/stylesheets/components/_toc.scss
  app/assets/stylesheets/pages/_docs.scss
  app/assets/stylesheets/pages/_homepage.scss
  app/models/beta_pages.rb
  app/views/application/_head.html.erb
  data/nav.yml
  pages/agent/v3.md
Labels: agent

#1925 [PDP-603] Update build matrix docs to list use in agent query rules
  pages/pipelines/build_matrix.md
  pages/pipelines/command_step.md
Labels: pipelines

#1944 Clarified exclusivity for Private S3 bucket logging
  pages/pipelines/managing_log_output.md
Labels: pipelines

#1927 Correct location for setting SSO as optional for users.
  pages/integrations/sso.md
Labels: integrations

#1920 Add summary of pipeline permissions for teams
  pages/pipelines/permissions.md
Labels: pipelines

#1898 ONB-172: Add pipelines glossary
  data/nav.yml
  pages/pipelines/glossary.md
Labels: pipelines

#1935 Update Interval Granularity
  pages/pipelines/scheduled_builds.md
Labels: pipelines

#1948 DOCS-573: Fix nav for agent v2 instructions
  data/nav.yml
  pages/agent/v2/upgrading_to_v3.md
Labels: agent

#1950 DOCS-573: Add CLI annotation reference back to the nav
  data/nav.yml
  pages/agent/v3/cli_annotation.md
Labels: agent

#1955 DOCS-573: Add archiving deleting to nav
  data/nav.yml
  pages/pipelines/archiving_and_deleting_pipelines.md
Labels: pipelines

#1956 feat: add documentation for new usage page
  data/nav.yml
  images/docs/pipelines/job_minutes/job_minutes_usage_page.png
  images/docs/pipelines/job_minutes/usage.png
  images/docs/pipelines/job_minutes/usage_page.png
  images/docs/test_analytics/test_executions/test_executions.png
  images/docs/test_analytics/test_executions/test_executions_usage_page.png
  images/docs/test_analytics/test_executions/usage_page.png
  pages/pipelines/job_minutes.md
  pages/test_analytics/test_executions.md
Labels: test-analytics, pipelines

#1966 Add details on a job finished event
  pages/integrations/amazon_eventbridge.md
Labels: integrations

#1961 Add documentation for pipeline tags
  data/nav.yml
  images/docs/pipelines/tags/pipeline-tag-search.png
  pages/pipelines/tags.md
Labels: pipelines

#1954 Agent 3.45
  pages/agent/v3.md
  pages/agent/v3/cli_env.md
  pages/agent/v3/help/_annotate.md
  pages/agent/v3/help/_annotation_remove.md
  pages/agent/v3/help/_artifact_download.md
  pages/agent/v3/help/_artifact_search.md
  pages/agent/v3/help/_artifact_shasum.md
  pages/agent/v3/help/_artifact_upload.md
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_env_dump.md
  pages/agent/v3/help/_env_get.md
  pages/agent/v3/help/_env_set.md
  pages/agent/v3/help/_env_unset.md
  pages/agent/v3/help/_meta_data_exists.md
  pages/agent/v3/help/_meta_data_get.md
  pages/agent/v3/help/_meta_data_keys.md
  pages/agent/v3/help/_meta_data_set.md
  pages/agent/v3/help/_oidc_request_token.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
  pages/agent/v3/help/_step_get.md
  pages/agent/v3/help/_step_update.md
  scripts/update-agent-help.sh
  vale/styles/vocab.txt
Labels: agent

#1964 feat: change docs for token revocation
  images/docs/apis/managing_api_tokens/token-view.png
  pages/apis/managing_api_tokens.md
Labels: api

#1877 Add Analytics section to API docs
  app/models/beta_pages.rb
  data/nav.yml
  pages/apis/rest_api/analytics/flaky_tests.md
Labels: api, rest

#1850 [PIE-1367] TA flaky test tracker docs
  data/tiles.yml
  pages/test_analytics/test_suites.md
Labels: test-analytics

#1977 PIE-1458: Remove errant {:toc} from Flaky tests API page
  pages/apis/rest_api/analytics/flaky_tests.md
Labels: api, rest

#1883 Add signal and signal reason in retry rules
  pages/pipelines/command_step.md
Labels: pipelines

#1924 feat: add docs about limiting API access by IP
  pages/apis/managing_api_tokens.md
  vale/styles/vocab.txt
Labels: api

#1972 Update to GraphQL only functionality on Jobs
  pages/apis/api_differences.md
Labels: api

#1979 [PDP-211] Add signal and signal_reason to the default value for automatic retries
  pages/pipelines/command_step.md
Labels: pipelines

#1980 fix missing quotation mark in HTTP example
  pages/test_analytics/importing_json.md
Labels: test-analytics

#1960 Add documentation for Clusters
  data/nav.yml
  images/docs/agent/clusters/clusters-architecture.png
  pages/agent/clusters.md
  vale/styles/vocab.txt
Labels: agent

#1978 Docs for SSO Session IP Address Pinning
  pages/apis/graphql/graphql_cookbook.md
  pages/integrations/sso.md
Labels: api, graphql, integrations

#1983 Improve clusters docs
  pages/agent/clusters.md
Labels: agent

#1984 Fix heading level for clusters section
  pages/agent/clusters.md
Labels: agent

#1975 [PIE-1519] Update TA docs on 'Test result objects' when importing JSON
  data/content/test_analytics_json_fields_test_result.yaml
  pages/test_analytics/importing_json.md
Labels: test-analytics

#1991 Add starting the agent to macOS agent instructions
  pages/agent/v3/macos.md
Labels: agent

#1988 Fix bug in pre-bootstrap example in securing.md
  pages/agent/v3/securing.md
Labels: agent
