Repository buildkite/docs, pull requests merged in 2023-09, with the labels that each got.

#2441 Trigger mode property clarification (lowercase)
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#2269 clarify supported bucket encryption
  pages/pipelines/managing_log_output.md
Labels: pipelines

#2459 Typo fix: parellism -> parallelism
  pages/pipelines/build_matrix.md
Labels: pipelines

#2462 Update pipelines.md
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#2457 Document supported browsers
  pages/pipelines/dashboard_walkthrough.md
Labels: pipelines

#2465 Fix RUM tagging for production image
  .buildkite/push-image.sh
  Dockerfile
Labels: bug

#2466 Fix table of contents selector error
  app/frontend/components/toc.js
Labels: bug

#2371 UPD about concurrency groups
  pages/pipelines/build_matrix.md
Labels: pipelines

#2467 Fix broken hover anchor image
  app/frontend/css/components/_callout.scss
  app/frontend/css/pages/_docs.scss
Labels: bug

#2453 ✨ Specify content keyword in front matter
  README.md
  app/models/page.rb
  app/views/application/_meta_content.html.erb
  app/views/layouts/application.html.erb
  app/views/layouts/homepage.html.erb
  app/views/pages/landing_page.html.erb
  app/views/pages/landing_page_pipelines.html.erb
  app/views/pages/show.html.erb
  pages/deployments.md
  pages/pipelines.md
  pages/tutorials/2fa.md
  pages/tutorials/bazel.md
  pages/tutorials/docker_containerized_builds.md
  pages/tutorials/getting_started.md
  pages/tutorials/github_merge_queue.md
  pages/tutorials/migrating_from_bamboo.md
  pages/tutorials/parallel_builds.md
  pages/tutorials/pipeline_upgrade.md
  spec/models/page_spec.rb
Labels: pipelines

#1682 GitHub Actions tutorial
  data/nav.yml
  images/docs/tutorials/github_actions/trigger-buildkite-pipeline.png
  pages/tutorials/github_actions.md
Labels: pipelines

#2454 Add a note on inviting users
  pages/pipelines/create_your_own.md
Labels: pipelines

#2455 Expanding the SSO FAQ
  pages/integrations/sso.md
Labels: integrations

#2474 Adds a query to find UUIDs of jobs in a build
  pages/apis/graphql/cookbooks/jobs.md
Labels: api, graphql

#2483 💬 Add section for team management topics
  config/routes.rb
  data/nav.yml
  images/docs/team_management/permissions/enable-teams.png
  images/docs/team_management/permissions/remove-user.png
  pages/apis/rest_api/agents.md
  pages/clusters/manage_clusters.md
  pages/pipelines/trigger_step.md
  pages/team_management.md
  pages/team_management/permissions.md
  pages/test_analytics/permissions.md
Labels: test-analytics, pipelines, api, rest

#2485 Enforce 2FA documentation
  data/nav.yml
  pages/apis/graphql/cookbooks/organizations.md
  pages/team_management.md
  pages/team_management/enforce_2fa.md
  pages/tutorials/2fa.md
Labels: pipelines, api, graphql

#2491 [GraphQL Cookbook] Added audit event query for specific users
  pages/apis/graphql/cookbooks/organizations.md
Labels: api, graphql

#2486 System Banners Documentation
  data/nav.yml
  pages/apis/graphql/cookbooks/organizations.md
  pages/team_management.md
  pages/team_management/system_banners.md
Labels: api, graphql

#2482 Add Run Issues to the Test Analytics docs
  data/tiles.yml
  images/docs/test_analytics/test_suites/execution-issues.png
  images/docs/test_analytics/test_suites/run-issues.png
  pages/test_analytics/test_suites.md
Labels: test-analytics

#2494 Clusters GraphQL cookbook touchup, token query addition/token value deprecation note
  pages/apis/graphql/cookbooks/clusters.md
Labels: api, graphql

#2492 Add docs for waterfall V2
  data/nav.yml
  images/docs/pipelines/waterfall/waterfall-view-parent-row.png
  images/docs/pipelines/waterfall/waterfall-view-popover.png
  images/docs/pipelines/waterfall/waterfall-view.png
  pages/pipelines/waterfall.md
Labels: pipelines

#2498 Bugfix: Fix cluster metrics routing
  config/routes.rb
  data/nav.yml
  images/docs/pipelines/cluster_queue_metrics/advanced-queue-metrics.png
  images/docs/pipelines/cluster_queue_metrics/cluster-queue-metrics-agent-utilization.png
  images/docs/pipelines/cluster_queue_metrics/cluster-queue-metrics.png
  pages/pipelines/cluster_queue_metrics.md
Labels: pipelines

#2499 Changing TA run issues private beta notice to beta
  pages/test_analytics/test_suites.md
Labels: test-analytics

#2501 Update pipelines dashboard overview for build filtering and expanding builds
  images/docs/pipelines/dashboard_walkthrough/filtering-builds.png
  images/docs/pipelines/dashboard_walkthrough/showing-build-steps.png
  pages/pipelines/dashboard_walkthrough.md
Labels: pipelines

#2504 Update pipeline template docs for Q3 release
  pages/pipelines/templates.md
Labels: pipelines
