Repository buildkite/docs, pull requests merged in 2023-08, with the labels that each got.

#2336 Document a way to deny jobs based on the enviroment variables set for them
  pages/agent/v3/securing.md
Labels: agent

#2344 Build Exports: we do not currently support SSE-KMS
  pages/pipelines/build_exports.md
Labels: pipelines

#2340 Minor fixes for GraphQL pages
  app/assets/stylesheets/base/_article.scss
  app/assets/stylesheets/components/_page.scss
  app/assets/stylesheets/components/_pill.scss
Labels: bug

#2351 Remove web archive link to Ruby best practices
  pages/test_analytics/ruby_collectors.md
Labels: test-analytics

#2352 Incorporate style changes from the blog
  pages/pipelines/migrate_from_jenkins.md
Labels: pipelines

#2349 Add footnote about plugin hooks
  pages/agent/v3/hooks.md
Labels: agent

#2356 PIE-1903: Remove monitoring docs for Test Analytics
  data/nav.yml
  data/tiles.yml
  pages/test_analytics/monitors.md
Labels: test-analytics

#2346 Update initial diagrams
  images/docs/agent/v3/buildkite-hybrid-architecture.svg
  images/docs/agent/v3/elastic_ci_aws/elastic_ci_stack_overview/buildkite-elastic-ci-stack-on-aws-architecture.png
  images/docs/agent/v3/elastic_ci_aws/elastic_ci_stack_overview/buildkite-elastic-ci-stack-on-aws-architecture.svg
  images/docs/pipelines/migrate_from_jenkins/buildkite-hybrid-architecture.svg
  images/docs/pipelines/migrate_from_jenkins/hybrid-saas-architecture.svg
  images/docs/tutorials/getting_started/buildkite-hybrid-architecture.svg
  images/docs/tutorials/getting_started/hybrid-saas-architecture.svg
  pages/agent/v3.md
  pages/agent/v3/elastic_ci_aws/elastic_ci_stack_overview.md
  pages/pipelines/migrate_from_jenkins.md
  pages/tutorials/getting_started.md
Labels: pipelines, agent

#2261 Add an example for force clean checkout at step level
  pages/agent/v3/securing.md
Labels: agent

#2353 Adds a section to GraphQL cookbook
  pages/apis/graphql/graphql_cookbook.md
Labels: api, graphql

#2360 Replace SVG diagrams with PNG
  images/docs/agent/v3/buildkite-hybrid-architecture.png
  images/docs/agent/v3/buildkite-hybrid-architecture.svg
  images/docs/agent/v3/elastic_ci_aws/elastic_ci_stack_overview/buildkite-elastic-ci-stack-on-aws-architecture.png
  images/docs/agent/v3/elastic_ci_aws/elastic_ci_stack_overview/buildkite-elastic-ci-stack-on-aws-architecture.svg
  images/docs/pipelines/defining_steps/build-states.png
  images/docs/pipelines/defining_steps/build-states.svg
  images/docs/pipelines/defining_steps/job-states.png
  images/docs/pipelines/defining_steps/job-states.svg
  images/docs/pipelines/migrate_from_jenkins/buildkite-hybrid-architecture.png
  images/docs/pipelines/migrate_from_jenkins/buildkite-hybrid-architecture.svg
  images/docs/tutorials/getting_started/buildkite-hybrid-architecture.png
  images/docs/tutorials/getting_started/buildkite-hybrid-architecture.svg
  pages/agent/v3.md
  pages/agent/v3/elastic_ci_aws/elastic_ci_stack_overview.md
  pages/pipelines/defining_steps.md
  pages/pipelines/migrate_from_jenkins.md
  pages/tutorials/getting_started.md
Labels: pipelines, agent

#2301 Added timeboxed Auditevents example to the GraphQL Cookbook
  pages/apis/graphql/graphql_cookbook.md
Labels: api, graphql

#2370 Update page titles to avoid duplication for SEO
  data/nav.yml
  pages/pipelines/permissions.md
  pages/test_analytics/permissions.md
Labels: test-analytics, pipelines

#2368 Update ubuntu first step wording
  pages/agent/v3/ubuntu.md
Labels: agent

#2373 Update ssh_keys.md
  pages/agent/v3/ssh_keys.md
Labels: agent

#2375 Add page meta descriptions
  app/models/page.rb
  app/views/application/_head.html.erb
  app/views/application/_toc.html.erb
Labels: SEO

#2361 Update docs with notes on pipeline provider webhook_url permissions
  pages/apis/rest_api/builds.md
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#2342 Update on setting redacted-vars in the agent config
  pages/pipelines/managing_log_output.md
Labels: pipelines

#1703 Add GraphQL example of setting multiple env vars
  pages/apis/graphql/graphql_cookbook.md
Labels: api, graphql

#2380 PIE-1941: Update TA JSON failure_expanded
  data/content/test_analytics_json_fields_failure_expanded.yaml
  pages/test_analytics/importing_json.md
Labels: test-analytics

#2378 Update agent help docs for v3.51.0
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_env_dump.md
  pages/agent/v3/help/_env_get.md
  pages/agent/v3/help/_env_set.md
  pages/agent/v3/help/_env_unset.md
  pages/agent/v3/help/_lock_acquire.md
  pages/agent/v3/help/_lock_do.md
  pages/agent/v3/help/_lock_done.md
  pages/agent/v3/help/_lock_get.md
  pages/agent/v3/help/_lock_release.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
Labels: agent

#2404 Remove the agent upgrading page
  config/routes.rb
  data/nav.yml
  pages/agent/v3/installation.md
  pages/agent/v3/upgrading.md
Labels: agent

#2365 Update input_step.md
  pages/pipelines/input_step.md
Labels: pipelines

#2364 Update build_exports to bring visibility on IAM conditions and connectivity tests
  pages/pipelines/build_exports.md
Labels: pipelines

#2406 Update agent cli reference docs generation
  pages/agent/v3/help/_annotate.md
  pages/agent/v3/help/_annotation_remove.md
  pages/agent/v3/help/_artifact_download.md
  pages/agent/v3/help/_artifact_search.md
  pages/agent/v3/help/_artifact_shasum.md
  pages/agent/v3/help/_artifact_upload.md
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_env_dump.md
  pages/agent/v3/help/_env_get.md
  pages/agent/v3/help/_env_set.md
  pages/agent/v3/help/_env_unset.md
  pages/agent/v3/help/_lock_acquire.md
  pages/agent/v3/help/_lock_do.md
  pages/agent/v3/help/_lock_done.md
  pages/agent/v3/help/_lock_get.md
  pages/agent/v3/help/_lock_release.md
  pages/agent/v3/help/_meta_data_exists.md
  pages/agent/v3/help/_meta_data_get.md
  pages/agent/v3/help/_meta_data_keys.md
  pages/agent/v3/help/_meta_data_set.md
  pages/agent/v3/help/_oidc_request_token.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
  pages/agent/v3/help/_step_get.md
  pages/agent/v3/help/_step_update.md
  scripts/cli2md.rb
  scripts/update-agent-help.sh
Labels: agent

#2409 Fix pluralisation on webhooks callout
  pages/apis/webhooks.md
Labels: api

#2363 Update sso.md with new entry in FAQ section for login related errors
  pages/integrations/sso.md
Labels: integrations

#2399 Add example for queue and tag targeting rule
  pages/agent/v3/cli_start.md
Labels: agent

#2400 Add note about conditional on build state should be only used at pipe…
  pages/pipelines/conditionals.md
Labels: pipelines

#2412 Add documentation for `git-mirrors-skip-update`
  data/content/agent_attributes.yaml
  pages/agent/v3.md
Labels: agent

#2392 Doc 654 add reference to queues on branch configurations
  pages/agent/v3/queues.md
  pages/pipelines/branch_configuration.md
Labels: pipelines, agent

#2403 Add data flow diagram
  images/docs/pipelines/security_overview/data-flow.png
  pages/pipelines/security_overview.md
Labels: pipelines

#2421 Layout and visual refinement
  app/assets/stylesheets/base/_article.scss
  app/assets/stylesheets/base/_fonts.scss
  app/assets/stylesheets/base/_mixins.scss
  app/assets/stylesheets/base/_variables.scss
  app/assets/stylesheets/components/_button.scss
  app/assets/stylesheets/components/_callout.scss
  app/assets/stylesheets/components/_menu_toggle.scss
  app/assets/stylesheets/components/_nav.scss
  app/assets/stylesheets/components/_page.scss
  app/assets/stylesheets/components/_pill.scss
  app/assets/stylesheets/components/_responsive_table.scss
  app/assets/stylesheets/components/_search.scss
  app/assets/stylesheets/components/_site_header.scss
  app/assets/stylesheets/components/_status_badges.scss
  app/assets/stylesheets/components/_tiles.scss
  app/assets/stylesheets/components/_toc.scss
  app/assets/stylesheets/pages/_docs.scss
  app/assets/stylesheets/pages/homepage/_hero_banner.scss
  app/assets/stylesheets/pages/homepage/_index.scss
  app/assets/stylesheets/pages/homepage/_products.scss
  app/assets/stylesheets/utilities/_responsive_image_container.scss
  app/models/page/renderers/callout.rb
  app/views/application/_head.html.erb
  app/views/application/_search.html.erb
  images/docs/icons/anchor.svg
  images/docs/icons/callouts/default.svg
  images/docs/icons/callouts/tip.svg
  images/docs/icons/callouts/troubleshooting.svg
  images/docs/icons/callouts/wip.svg
  images/docs/icons/magnifying-glass.svg
  images/docs/pipelines/all-builds.png
  images/docs/pipelines/inside-build-page.png
  images/docs/pipelines/pipelines-detail.png
  images/docs/pipelines/pipelines.png
  images/docs/pipelines/settings.png
  pages/agent/v3/configuration.md
  spec/models/page/renderer_spec.rb
Labels: agent

#2425 New Pipelines landing page
  app/assets/stylesheets/base/_variables.scss
  app/assets/stylesheets/components/_card.scss
  app/assets/stylesheets/components/_cards_grid.scss
  app/assets/stylesheets/components/_divider.scss
  app/assets/stylesheets/components/_heading_group.scss
  app/assets/stylesheets/components/_hero.scss
  app/assets/stylesheets/components/_index.scss
  app/views/application/_card.html.erb
  app/views/application/_cards_grid.html.erb
  app/views/application/_heading_group.html.erb
  app/views/landing_page_pipelines/_advanced_guides.html.erb
  app/views/landing_page_pipelines/_core_concepts.html.erb
  app/views/landing_page_pipelines/_hero.html.erb
  app/views/pages/landing_page_pipelines.html.erb
  data/nav.yml
  images/docs/pipelines/architecture/buildkite-hybrid-architecture.png
  images/docs/pipelines/dashboard_walkthrough/all-builds.png
  images/docs/pipelines/dashboard_walkthrough/build-status.png
  images/docs/pipelines/dashboard_walkthrough/exit-status.png
  images/docs/pipelines/dashboard_walkthrough/favorite.png
  images/docs/pipelines/dashboard_walkthrough/filtering-pipelines.png
  images/docs/pipelines/dashboard_walkthrough/frequency.png
  images/docs/pipelines/dashboard_walkthrough/graphs.png
  images/docs/pipelines/dashboard_walkthrough/inside-build-page.png
  images/docs/pipelines/dashboard_walkthrough/pipelines-detail.png
  images/docs/pipelines/dashboard_walkthrough/pipelines.png
  images/docs/pipelines/dashboard_walkthrough/reliability.png
  images/docs/pipelines/dashboard_walkthrough/settings.png
  images/docs/pipelines/dashboard_walkthrough/speed.png
  images/docs/pipelines/hero-image-pipelines.png
  images/docs/pipelines/icon_pipelines_agents.svg
  images/docs/pipelines/icon_pipelines_apis.svg
  images/docs/pipelines/icon_pipelines_architecture.svg
  images/docs/pipelines/icon_pipelines_migration.svg
  images/docs/pipelines/icon_pipelines_security.svg
  images/docs/pipelines/icon_pipelines_source_control.svg
  images/docs/pipelines/icon_pipelines_steps.svg
  images/docs/pipelines/icon_pipelines_tutorials.svg
  pages/pipelines.md
  pages/pipelines/architecture.md
  pages/pipelines/configuration_overview.md
  pages/pipelines/dashboard_walkthrough.md
  pages/pipelines/job_minutes.md
  pages/tutorials/getting_started.md
Labels: pipelines

#2431 🐛 Fix Pipelines landing page
  app/assets/stylesheets/base/_variables.scss
  app/assets/stylesheets/components/_card.scss
  app/assets/stylesheets/components/_cards_grid.scss
  app/assets/stylesheets/components/_divider.scss
  app/assets/stylesheets/components/_heading_group.scss
  app/assets/stylesheets/components/_hero.scss
  app/assets/stylesheets/components/_index.scss
  app/views/application/_card.html.erb
  app/views/application/_cards_grid.html.erb
  app/views/application/_heading_group.html.erb
  app/views/landing_page_pipelines/_advanced_guides.html.erb
  app/views/landing_page_pipelines/_core_concepts.html.erb
  app/views/landing_page_pipelines/_hero.html.erb
  app/views/pages/landing_page_pipelines.html.erb
  data/nav.yml
  images/docs/pipelines/architecture/buildkite-hybrid-architecture.png
  images/docs/pipelines/dashboard_walkthrough/all-builds.png
  images/docs/pipelines/dashboard_walkthrough/build-status.png
  images/docs/pipelines/dashboard_walkthrough/exit-status.png
  images/docs/pipelines/dashboard_walkthrough/favorite.png
  images/docs/pipelines/dashboard_walkthrough/filtering-pipelines.png
  images/docs/pipelines/dashboard_walkthrough/frequency.png
  images/docs/pipelines/dashboard_walkthrough/graphs.png
  images/docs/pipelines/dashboard_walkthrough/inside-build-page.png
  images/docs/pipelines/dashboard_walkthrough/pipelines-detail.png
  images/docs/pipelines/dashboard_walkthrough/pipelines.png
  images/docs/pipelines/dashboard_walkthrough/reliability.png
  images/docs/pipelines/dashboard_walkthrough/settings.png
  images/docs/pipelines/dashboard_walkthrough/speed.png
  images/docs/pipelines/hero-image-pipelines.png
  images/docs/pipelines/icon_pipelines_agents.svg
  images/docs/pipelines/icon_pipelines_apis.svg
  images/docs/pipelines/icon_pipelines_architecture.svg
  images/docs/pipelines/icon_pipelines_migration.svg
  images/docs/pipelines/icon_pipelines_security.svg
  images/docs/pipelines/icon_pipelines_source_control.svg
  images/docs/pipelines/icon_pipelines_steps.svg
  images/docs/pipelines/icon_pipelines_tutorials.svg
  pages/pipelines.md
  pages/pipelines/architecture.md
  pages/pipelines/configuration_overview.md
  pages/pipelines/dashboard_walkthrough.md
  pages/pipelines/job_minutes.md
  pages/tutorials/getting_started.md
Labels: pipelines

#2432 Skip initialising table of contents for some pages
  app/frontend/components/toc.js
Labels: bug

#2436 Strip markdown from environment variable examples
  app/assets/stylesheets/base/_global.scss
  app/assets/stylesheets/base/_mixins.scss
  app/assets/stylesheets/pages/_docs.scss
  data/content/environment_variables.yaml
  pages/pipelines/environment_variables.md
Labels: pipelines

#2393 Split up GraphQL cookbooks
  data/nav_graphql.yml
  pages/apis/api_differences.md
  pages/apis/graphql/cookbooks/agents.md
  pages/apis/graphql/cookbooks/builds.md
  pages/apis/graphql/cookbooks/clusters.md
  pages/apis/graphql/cookbooks/jobs.md
  pages/apis/graphql/cookbooks/organizations.md
  pages/apis/graphql/cookbooks/pipelines.md
  pages/apis/graphql/cookbooks/teams.md
  pages/apis/graphql/graphql_cookbook.md
  pages/integrations/sso.md
  pages/pipelines/job_minutes.md
  pages/test_analytics/test_executions.md
  scripts/graphql_api_content/nav_data.rb
  spec/scripts/graphql_api_content/nav_data_spec.rb
Labels: test-analytics, pipelines, api, graphql, integrations

#2439 Attempt to fix blank search records
  app/models/page/renderer.rb
  app/views/layouts/application.html.erb
  pages/agent/v3/gcloud.md
  spec/models/page/renderer_spec.rb
Labels: agent

#2430 Update docs to talk about per pipeline settings removed
  pages/pipelines/build_retention.md
Labels: pipelines

#2440 Add artifacts in Azure Blob Storage
  pages/agent/v3/cli_artifact.md
  pages/pipelines/artifacts.md
  pages/pipelines/managing_log_output.md
  vale/styles/Buildkite/existence-case-sensitive.yml
  vale/styles/Buildkite/h1-h6_sentence_case.yml
Labels: pipelines, agent

#2442 Add alternative keyservers for Ubuntu and Debian
  pages/agent/v3/_alternative_keyservers.md
  pages/agent/v3/debian.md
  pages/agent/v3/ubuntu.md
  vale/styles/vocab.txt
Labels: agent
