Repository buildkite/docs, pull requests merged in 2023-10, with the labels that each got.

#2506 Waterfall: Add info about non-terminal finished jobs states
  pages/pipelines/waterfall.md
Labels: pipelines

#2479 [EDGE-1520] Add pipeline templates rest & graphql api documentation
  app/models/beta_pages.rb
  data/nav.yml
  data/nav_graphql.yml
  pages/apis/agent_api.md
  pages/apis/graphql/cookbooks/clusters.md
  pages/apis/graphql/cookbooks/pipeline_templates.md
  pages/apis/graphql/graphql_cookbook.md
  pages/apis/graphql/schemas/enum/pipelinetemplateorder.md
  pages/apis/graphql/schemas/input_object/pipelinetemplatecreateinput.md
  pages/apis/graphql/schemas/input_object/pipelinetemplatedeleteinput.md
  pages/apis/graphql/schemas/input_object/pipelinetemplateupdateinput.md
  pages/apis/graphql/schemas/mutation/pipelinetemplatecreate.md
  pages/apis/graphql/schemas/mutation/pipelinetemplatedelete.md
  pages/apis/graphql/schemas/mutation/pipelinetemplateupdate.md
  pages/apis/graphql/schemas/object/pipelinetemplateconnection.md
  pages/apis/graphql/schemas/object/pipelinetemplatecreatepayload.md
  pages/apis/graphql/schemas/object/pipelinetemplatedeletepayload.md
  pages/apis/graphql/schemas/object/pipelinetemplateedge.md
  pages/apis/graphql/schemas/object/pipelinetemplateupdatepayload.md
  pages/apis/graphql/schemas/query/pipelinetemplate.md
  pages/apis/rest_api/agents.md
  pages/apis/rest_api/builds.md
  pages/apis/rest_api/pipeline_templates.md
  scripts/graphql_api_content/nav_data.rb
  spec/scripts/graphql_api_content/nav_data_spec.rb
Labels: api, graphql, rest

#2514 Add Playwright section to Javascript Collectors page
  pages/test_analytics.md
  pages/test_analytics/javascript_collectors.md
Labels: test-analytics

#2522 Add help for when artifacts are missing from retried jobs
  pages/pipelines/artifacts.md
Labels: pipelines

#2513 add docs on potential conflicting gems with the collector
  pages/test_analytics/ruby_collectors.md
  vale/styles/vocab.txt
Labels: test-analytics

#2531 Update agent CLI reference docs for v3.57.0
  pages/agent/v3/help/_lock_acquire.md
  pages/agent/v3/help/_lock_do.md
  pages/agent/v3/help/_lock_done.md
  pages/agent/v3/help/_lock_get.md
  pages/agent/v3/help/_lock_release.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
Labels: agent
