Repository buildkite/docs, pull requests merged in 2023-04, with the labels that each got.

#1994 Add automatic retry default limit
  pages/pipelines/command_step.md
Labels: pipelines

#1987 PDP-699 updating documentation for trigger steps to include soft_fail attribute
  pages/pipelines/trigger_step.md
Labels: pipelines, Needs Review

#2000 removed incorrect command attribute for trigger job
  pages/pipelines/trigger_step.md
Labels: pipelines

#1982 Add additional info for OIDC endpoints
  pages/agent/v3/cli_oidc.md
Labels: agent

#1968 Added information around using YAML anchors
  pages/plugins/using.md
Labels: plugins

#2005 update sso docs (okta) with extra detail around account provisioning
  pages/integrations/sso/okta.md
Labels: integrations

#2007 Yes, we do. isn't helpful.
  pages/integrations/sso.md
Labels: integrations

#2001 Add 'Configuring build export' to the build retentions page
  pages/pipelines/build_retention.md
Labels: pipelines

#2019 Fix example in retry docs
  pages/pipelines/command_step.md
Labels: pipelines

#2025 Add json content type header to all curl examples with json data
  pages/apis/graphql/graphql_tutorial.md
  pages/apis/graphql_api.md
  pages/apis/rest_api.md
  pages/apis/rest_api/agents.md
  pages/apis/rest_api/builds.md
  pages/apis/rest_api/jobs.md
  pages/apis/rest_api/pipelines.md
  pages/integrations/git.md
  pages/pipelines/secrets.md
Labels: pipelines, api, graphql, rest, integrations

#2024 Remove documentation for build retention
  config/routes.rb
  data/nav.yml
  pages/pipelines/build_export.md
  pages/pipelines/build_retention.md
Labels: pipelines

#2030 Export build data: Preparing your S3 bucket
  pages/pipelines/build_export.md
  vale/styles/vocab.txt
Labels: pipelines

#2017 Remove "Cloning a pipeline" section
  pages/pipelines/defining_steps.md
Labels: pipelines

#2035 DOC-529: Remove Mercurial support from Bitbucket page
  pages/integrations/bitbucket.md
Labels: integrations

#2044 💄 Design styling fixes for Docs Week Q2
  app/assets/stylesheets/base/_text_content.scss
  app/assets/stylesheets/base/_variables.scss
  app/assets/stylesheets/components/_copy_to_clipboard_button.scss
  app/assets/stylesheets/pages/_docs.scss
  pages/tutorials/getting_started.md
Labels: pipelines

#2037 DOCS-561 Add URL Query Param auth method for rest API
  pages/apis/rest_api.md
Labels: api

#2050 Scheduled builds: Show H3s in table of contents
  pages/pipelines/scheduled_builds.md
Labels: pipelines

#2015 Add note for build timeout
  pages/pipelines/command_step.md
Labels: pipelines

#2055 Add H3s to the on-page nav by default
  app/models/page.rb
  pages/agent/v3/aws.md
  pages/agent/v3/elastic_ci_aws.md
  pages/integrations/sso.md
  pages/integrations/sso/sso_setup_with_graphql.md
  pages/pipelines/notifications.md
  pages/pipelines/scheduled_builds.md
Labels: pipelines, agent, integrations

#2036 Add sections to GraphQL cookbook
  pages/apis/api_differences.md
  pages/apis/graphql/graphql_cookbook.md
  pages/integrations/sso.md
Labels: api, graphql, integrations

#2045 💄 Style external links
  app/assets/stylesheets/base/_text_content.scss
  app/models/page/renderer.rb
  app/models/page/renderers/external_link.rb
  images/docs/icons/external_link.svg
  pages/agent/v3.md
  pages/apis/graphql_api.md
  spec/models/page/renderer_spec.rb
Labels: api, agent

#2056 Add overview pages to use from new homepage
  data/nav.yml
  pages/agent/v3/cli_reference.md
  pages/pipelines/step_reference.md
Labels: pipelines, agent

#2057 triggering steps are no longer stuck when triggered builds fails
  pages/pipelines/trigger_step.md
Labels: pipelines

#2021 Updated explanation when maximum timeout will be used
  pages/pipelines/command_step.md
Labels: pipelines

#2046 Rework the elastic stack section
  app/views/pages/index.html.erb
  config/routes.rb
  data/nav.yml
  images/docs/agent/v3/elastic_ci_aws/agents-tab-launch.png
  images/docs/agent/v3/elastic_ci_aws/agents-tab.png
  images/docs/agent/v3/elastic_ci_aws/aws-create-stack.png
  images/docs/agent/v3/elastic_ci_aws/aws-parameters.png
  images/docs/agent/v3/elastic_ci_aws/aws-select-template.png
  images/docs/agent/v3/elastic_ci_aws/build.png
  images/docs/agent/v3/elastic_ci_aws/buildkite-agent-token.png
  images/docs/agent/v3/elastic_ci_aws/buildkite-connected-agents.png
  images/docs/agent/v3/elastic_ci_aws/buildkite-demo-instances.png
  images/docs/agent/v3/elastic_ci_aws/buildkite-new-build.png
  images/docs/agent/v3/elastic_ci_aws/buildkite-pipeline-upload.png
  images/docs/agent/v3/elastic_ci_aws/ec2-asg.png
  images/docs/agent/v3/elastic_ci_aws/ec2-create-key-pair.png
  images/docs/agent/v3/elastic_ci_aws/ec2-key-pair.png
  images/docs/agent/v3/elastic_ci_aws/ec2-service.png
  images/docs/agent/v3/elastic_ci_aws/elastic-ci-stack.png
  images/docs/agent/v3/elastic_ci_aws/elastic_ci_stack_overview/buildkite-elastic-ci-stack-on-aws-architecture.png
  images/docs/agent/v3/elastic_ci_aws/managing_elastic_ci_stack/cloudwatch-metrics.png
  pages/agent/v3/aws.md
  pages/agent/v3/aws/secrets_manager.md
  pages/agent/v3/aws/vpc.md
  pages/agent/v3/elastic_ci_aws.md
  pages/agent/v3/elastic_ci_aws/cloudformation_service_role.md
  pages/agent/v3/elastic_ci_aws/elastic_ci_stack_overview.md
  pages/agent/v3/elastic_ci_aws/managing_elastic_ci_stack.md
  pages/agent/v3/elastic_ci_aws/parameters.md
  pages/agent/v3/elastic_ci_aws/security.md
  pages/agent/v3/elastic_ci_aws/troubleshooting.md
  pages/agent/v3/elastic_ci_stack_for_ec2_mac/autoscaling_mac_metal.md
  pages/agent/v3/elastic_ci_stack_for_ec2_mac/troubleshooting.md
  pages/tutorials/elastic_ci_stack_aws.md
Labels: pipelines, agent

#2058 Fix the heading generation in CLI script
  pages/agent/v3/cli_oidc.md
  pages/agent/v3/help/_annotate.md
  pages/agent/v3/help/_annotation_remove.md
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_oidc_request_token.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
  pages/agent/v3/macos.md
  scripts/cli2md.rb
  scripts/update-agent-help.sh
Labels: agent

#2065 Added table documenting the JWT claims for the OIDC cli command.
  pages/agent/v3/cli_oidc.md
Labels: agent

#2083 Update `inline_link` method example to work with encoded URLs
  pages/pipelines/links_and_images_in_log_output.md
Labels: pipelines

#2040 Add images to the Block step page
  images/docs/pipelines/block_step/block-step-with-fields.png
  images/docs/pipelines/block_step/block-step.png
  images/docs/pipelines/block_step/block-trigger-pipeline.png
  images/docs/pipelines/block_step/confirm_modal.png
  images/docs/pipelines/block_step/release_modal_input.png
  images/docs/pipelines/block_step/unblock_button.png
  pages/agent/v3/elastic_ci_aws.md
  pages/pipelines/block_step.md
Labels: pipelines, agent

#2079 add info about how to set experiment flag
  pages/agent/v3/cli_env.md
Labels: agent

#2081 update matrix limits to correct values
  pages/pipelines/build_matrix.md
Labels: pipelines

#2073 OIDC page alignment fix
  pages/agent/v3/cli_oidc.md
Labels: agent

#2061 Explain about local and global hooks
  pages/agent/v3/hooks.md
  pages/agent/v3/securing.md
Labels: agent

#2018 Add note about block/input step not supported
  pages/pipelines/controlling_concurrency.md
Labels: pipelines

#2085 Wrap long inline-code blocks
  app/assets/stylesheets/base/_article.scss
Labels: bug

#2090 Revert "DOCS-561 Add URL Query Param auth method for rest API"
  pages/apis/rest_api.md
Labels: api

#2089 Fix broken image styles
  app/assets/stylesheets/base/_article.scss
  app/assets/stylesheets/utilities/_responsive_image_container.scss
  app/models/page.rb
  pages/tutorials/getting_started.md
Labels: bug, pipelines

#2062 Create `Build retention` page. Update `Build export` page
  config/routes.rb
  data/nav.yml
  data/nav_graphql.yml
  images/docs/pipelines/build_exports/build-exports-flow-chart.png
  images/docs/pipelines/build_retention/build-retention-flow-chart.png
  pages/pipelines/build_export.md
  pages/pipelines/build_exports.md
  pages/pipelines/build_retention.md
  vale/styles/vocab.txt
  yarn.lock
Labels: pipelines, Needs Review

#2011 add GraphQL queries for getting job run time and total build run time
  pages/apis/graphql/graphql_cookbook.md
Labels: api, graphql

#2087 update events to include build.failing event
  pages/apis/webhooks.md
Labels: api

#2094 Add note that agent-startup hook is supported
  pages/agent/v3/hooks.md
Labels: agent

#2014 Commit push to branch with PR
  pages/integrations/github.md
Labels: integrations

#2013 Added a troubleshooting section for agent lost
  pages/agent/v3.md
Labels: agent
