Repository buildkite/docs, pull requests merged in 2024-07, with the labels that each got.

#2854 Update Packages docs for the GA release.
  data/nav.yml
  pages/agent/v3/cli_oidc.md
  pages/packages.md
  pages/packages/_access_java_package_details_page.md
  pages/packages/_debian_registry_name.md
  pages/packages/_debian_registry_slug.md
  pages/packages/_java_registry_id.md
  pages/packages/_java_registry_name.md
  pages/packages/_java_registry_slug.md
  pages/packages/_javascript_registry_name.md
  pages/packages/_javascript_registry_slug.md
  pages/packages/_org_slug.md
  pages/packages/_package_details_page_sections.md
  pages/packages/_python_registry_name.md
  pages/packages/_python_registry_slug.md
  pages/packages/_ruby_registry_name.md
  pages/packages/_ruby_registry_slug.md
  pages/packages/_terraform_registry_name.md
  pages/packages/_terraform_registry_slug.md
  pages/packages/alpine.md
  pages/packages/background.md
  pages/packages/container.md
  pages/packages/debian.md
  pages/packages/getting_started.md
  pages/packages/gradle.md
  pages/packages/javascript.md
  pages/packages/manage_registries.md
  pages/packages/maven.md
  pages/packages/permissions.md
  pages/packages/python.md
  pages/packages/red_hat.md
  pages/packages/ruby.md
  pages/packages/security.md
  pages/packages/security/oidc.md
  pages/packages/terraform.md
  pages/pipelines/security/oidc.md
  pages/platform/_buildkite_agent_oidc_token_overview.md
  pages/team_management/permissions.md
  pages/test_analytics/permissions.md
  vale/styles/Buildkite/h1-h6_sentence_case.yml
Labels: test-analytics, pipelines, agent

#2860 PIE-2527] Add information regarding flaky summary mailer to assignments page
  images/docs/test_analytics/flaky_test_assignment/flaky-test-summary-mailer.png
  pages/test_analytics/flaky_test_assignment.md
Labels: test-analytics

#2871 Minor suggestions
  pages/packages/alpine.md
  pages/packages/container.md
  pages/packages/debian.md
  pages/packages/getting_started.md
  pages/packages/gradle.md
  pages/packages/javascript.md
  pages/packages/manage_registries.md
  pages/packages/maven.md
  pages/packages/private_storage.md
  pages/packages/python.md
  pages/packages/red_hat.md
  pages/packages/ruby.md
  pages/packages/terraform.md
  pages/pipelines/hosted_agents/code_access.md
  pages/team_management/permissions.md
Labels: pipelines

#2865 Buildkite Packages post-GA updates
  pages/clusters/manage_clusters.md
  pages/packages/_alpine_registry_slug.md
  pages/packages/_container_registry_slug.md
  pages/packages/_javascript_registry_read_token.md
  pages/packages/_red_hat_registry_slug.md
  pages/packages/alpine.md
  pages/packages/container.md
  pages/packages/debian.md
  pages/packages/getting_started.md
  pages/packages/gradle.md
  pages/packages/javascript.md
  pages/packages/manage_registries.md
  pages/packages/maven.md
  pages/packages/private_storage.md
  pages/packages/python.md
  pages/packages/red_hat.md
  pages/packages/ruby.md
  pages/packages/security/oidc.md
  pages/packages/terraform.md
  pages/pipelines/hosted_agents/code_access.md
  pages/team_management/permissions.md
Labels: pipelines

#2870 Added documentation regarding support of BUILDKITE_S3_ENDPOINT
  pages/agent/v3/cli_artifact.md
Labels: agent

#2874 Rework intros to OIDC overview pages to make their purposes more clear.
  pages/packages/manage_registries.md
  pages/packages/security/oidc.md
  pages/pipelines/security/oidc.md
  pages/pipelines/security/oidc/aws.md
Labels: pipelines

#2868 Added Packages to GraphQL cookbook, registries query example
  data/nav_graphql.yml
  pages/apis/graphql/cookbooks/packages.md
  pages/apis/graphql/graphql_cookbook.md
  scripts/graphql_api_content/nav_data.rb
  spec/scripts/graphql_api_content/nav_data_spec.rb
Labels: api, graphql

#2873 Update organizations.md
  pages/apis/graphql/cookbooks/organizations.md
  pages/cli.md
  pages/cli/configuration.md
  pages/cli/installation.md
  pages/packages/security.md
  pages/packages/security/oidc.md
Labels: api, graphql, cli

#2837 Security documentation improvements.
  app/views/homepage/_popular_guides.html.erb
  config/routes.rb
  data/nav.yml
  pages/agent/v2.md
  pages/agent/v2/cli_artifact.md
  pages/agent/v2/hooks.md
  pages/agent/v2/securing.md
  pages/agent/v3.md
  pages/agent/v3/cli_artifact.md
  pages/agent/v3/cli_secret.md
  pages/agent/v3/gcloud.md
  pages/agent/v3/hooks.md
  pages/agent/v3/securing.md
  pages/integrations/artifactory.md
  pages/integrations/github.md
  pages/integrations/pagerduty.md
  pages/pipelines/environment_variables.md
  pages/pipelines/hosted_agents/overview.md
  pages/pipelines/managing_log_output.md
  pages/pipelines/migrate_from_jenkins.md
  pages/pipelines/security/managing_secrets.md
  pages/pipelines/security/secrets.md
  pages/pipelines/security/secrets/buildkite_secrets.md
  pages/pipelines/security/secrets/managing.md
  pages/pipelines/security/secrets/risk_considerations.md
  pages/test_analytics/android_collectors.md
  pages/test_analytics/importing_json.md
  pages/test_analytics/importing_junit_xml.md
  pages/test_analytics/javascript_collectors.md
  pages/test_analytics/python_collectors.md
  pages/test_analytics/ruby_collectors.md
  pages/test_analytics/swift_collectors.md
  styleguides/markdown-syntax-style.md
Labels: test-analytics, pipelines, agent, integrations

#2879 Hosted agents linux agent images
  images/docs/pipelines/hosted_agents/linux/hosted-agents-create-image.png
  images/docs/pipelines/hosted_agents/linux/hosted-agents-delete-image.png
  images/docs/pipelines/hosted_agents/linux/hosted-agents-queue-image.png
  pages/pipelines/hosted_agents/linux.md
Labels: pipelines

#2862 Clarify the interaction between Slack notification services and YAML notify
  pages/integrations/slack.md
Labels: integrations

#2887 Update trigger_step.md
  pages/pipelines/trigger_step.md
Labels: pipelines

#2840 docs: update xcode versions and builds
  pages/pipelines/hosted_agents/mac.md
Labels: pipelines

#2886 add clarification about merge queues
  pages/tutorials/github_merge_queue.md
Labels: pipelines

#2890 Updating `POST /pipelines` REST API Documentation to Include Optional `slug` Parameter
  pages/apis/rest_api/pipelines.md
  pages/platform/_deriving_a_pipeline_slug_from_the_pipelines_name.md
Labels: api, rest

#2893 Remove beta callout for GitHub merge queues
  pages/tutorials/github_merge_queue.md
Labels: pipelines

#2896 Update flaky_tests.md
  pages/apis/rest_api/analytics/flaky_tests.md
Labels: api, rest

#2897 Update flaky_tests.md
  pages/apis/rest_api/analytics/flaky_tests.md
Labels: api, rest

#2894 Fix bad link
  pages/agent/v3.md
Labels: agent

#2891 Update input_step.md
  pages/pipelines/input_step.md
Labels: pipelines

#2867 Update the docs site with the changes from the latest agent release
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
  pages/agent/v3/help/_tool_sign.md
Labels: agent

#2878 Securing your buildkite agent page improvements
  pages/agent/v3/hooks.md
  pages/agent/v3/securing.md
  pages/integrations/amazon_eventbridge.md
  pages/packages/security.md
  pages/pipelines/security/secrets.md
  pages/plugins/using.md
Labels: pipelines, plugins, agent, integrations

#2901 docs: add latest supported mac xcode and runtime versions
  pages/pipelines/hosted_agents/mac.md
Labels: pipelines

#2898 make it clear that agent config is a dir not a file
  pages/agent/v3/configuration.md
Labels: agent

#2900 Add caveat for --priority flag
  pages/agent/v3/prioritization.md
Labels: agent

#2906 Update agent version in AWS stack
  pages/agent/v3/elastic_ci_aws.md
Labels: agent

#2907 Move Job API docs to promoted experiments section
  pages/agent/v3.md
  pages/agent/v3/hooks.md
Labels: agent

#2908 fix buildkite-test-collector npm install command
  pages/test_analytics/javascript_collectors.md
Labels: test-analytics

#2912 docs: update mac instance software
  pages/pipelines/hosted_agents/mac.md
Labels: pipelines

#2914 Update google_workspace_saml.md
  pages/integrations/sso/google_workspace_saml.md
Labels: integrations

#2916 Updating PATCH /pipelines REST API Documentation to Include Optional `slug` Parameter
  pages/apis/rest_api/pipelines.md
Labels: api, rest
