Repository buildkite/docs, pull requests merged in 2024-09, with the labels that each got.

#2956 Add info on build time discrepency vs waterfall jobs
  pages/pipelines/waterfall.md
Labels: pipelines

#2932 Rules documentation
  data/nav.yml
  data/nav_graphql.yml
  pages/apis/descriptions/_graphql_organization_id.md
  pages/apis/descriptions/_rest_access_token.md
  pages/apis/graphql/cookbooks/rules.md
  pages/apis/graphql/graphql_cookbook.md
  pages/apis/rest_api/builds.md
  pages/apis/rest_api/rules.md
  pages/clusters/manage_clusters.md
  pages/clusters/overview.md
  pages/pipelines/_rules_summary.md
  pages/pipelines/rules.md
  pages/pipelines/rules/manage.md
  scripts/graphql_api_content/nav_data.rb
  spec/scripts/graphql_api_content/nav_data_spec.rb
  vale/styles/Buildkite/h1-h6_sentence_case.yml
Labels: pipelines, api, graphql, rest, draft

#2959 Extract Test Splitting Environment Variables into a yaml
  data/content/test_splitting_env.schema.yaml
  data/content/test_splitting_env.yaml
  pages/test_analytics/test_splitting.md
Labels: test-analytics

#2960 Update the docs site with the changes from the v3.80.0 agent release
  pages/agent/v3/help/_annotate.md
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_start.md
  pages/agent/v3/help/_tool_sign.md
Labels: agent

#2962 Update docs with verification-failure-behavior
  pages/agent/v3/signed_pipelines.md
Labels: agent

#2966 [PKG-7402] API docs for registries index
  data/nav.yml
  pages/apis/agent_api.md
  pages/apis/agent_api/metrics.md
  pages/apis/rest_api/access_token.md
  pages/apis/rest_api/agents.md
  pages/apis/rest_api/analytics/flaky_tests.md
  pages/apis/rest_api/clusters.md
  pages/apis/rest_api/meta.md
  pages/apis/rest_api/organizations.md
  pages/apis/rest_api/organizations/members.md
  pages/apis/rest_api/packages/registries.md
  pages/apis/rest_api/pipeline_templates.md
  pages/apis/rest_api/pipelines.md
  pages/apis/rest_api/rules.md
  pages/apis/rest_api/teams.md
  pages/apis/rest_api/teams/members.md
  pages/apis/rest_api/teams/pipelines.md
  pages/apis/rest_api/teams/suites.md
  pages/apis/rest_api/user.md
Labels: api, rest

#2967 [PKG-7407] - API docs for registries show
  pages/apis/rest_api/packages/registries.md
Labels: api, rest

#2968 [PKG-7403] - API docs for registries create
  pages/apis/rest_api/packages/registries.md
Labels: api, rest

#2969 [PKG-7404] API docs for registries update
  pages/apis/rest_api/packages/registries.md
Labels: api, rest

#2970 [PKG-7405] API docs for registries destroy
  pages/apis/rest_api/packages/registries.md
Labels: api, rest

#2973 [PKG-7604] API docs for registry tokens index
  data/nav.yml
  pages/apis/rest_api/packages/registry_tokens.md
Labels: api, rest

#2974 [PKG-7605] API docs for registry tokens show
  pages/apis/rest_api/packages/registry_tokens.md
Labels: api, rest

#2975 [PKG-7606] API docs for registry tokens update
  pages/apis/rest_api/packages/registry_tokens.md
Labels: api, rest

#2976 [PKG-7607] API docs for registry tokens delete
  data/nav.yml
  pages/apis/rest_api/packages/registry_tokens.md
Labels: api, rest

#2977 [PKG-7603] API docs for registry tokens create
  pages/apis/rest_api/packages/registry_tokens.md
Labels: api, rest

#2978 [PKG-7408] API docs for packages show
  data/nav.yml
  pages/apis/rest_api/packages/packages.md
Labels: api, rest

#2979 [PKG-7406] Api docs for packages destroy
  pages/apis/rest_api/packages/packages.md
Labels: api, rest

#2971 `getRules` GraphQL Rules cookbook indentation
  pages/apis/graphql/cookbooks/rules.md
Labels: api, graphql

#2980 [PKG-6905] API docs for packages create
  pages/apis/rest_api/packages/packages.md
Labels: api, rest

#2964 chore: add git mirror copy
  images/docs/pipelines/hosted_agents/mac/hosted-agents-git-mirror.png
  pages/pipelines/hosted_agents/linux.md
  pages/pipelines/hosted_agents/mac.md
Labels: pipelines

#2981 Add a section on using AWS KMS keys with signed pipelines
  pages/agent/v3/signed_pipelines.md
  vale/styles/Buildkite/h1-h6_sentence_case.yml
Labels: agent

#2987 Document agent tag oidc claims
  pages/agent/v3/cli_oidc.md
Labels: agent
