Repository buildkite/docs, pull requests merged in 2024-02, with the labels that each got.

#2617 Update GraphQL cookbook with Get Job info by ID
  pages/apis/graphql/cookbooks/jobs.md
Labels: api, graphql

#2641 Fix an error in an example for Slack notification config
  pages/pipelines/notifications.md
Labels: pipelines

#2640 add: matrix job creation limit
  pages/pipelines/build_matrix.md
Labels: pipelines

#2496 Inform of custom emoji support
  pages/agent/v3/help/_annotate.md
Labels: agent

#2546 Add REST API docs for creating annotations
  pages/apis/rest_api/annotations.md
  pages/apis/rest_api/builds.md
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#2502 Update tutorial with v2.0 release of TPA
  images/docs/tutorials/github_actions/trigger-buildkite-pipeline.png
  pages/tutorials/github_actions.md
Labels: pipelines

#2656 Add information on agent panel metrics
  pages/pipelines/cluster_queue_metrics.md
Labels: pipelines

#2657 Add graphql queries for stoping an agent
  pages/apis/graphql/cookbooks/agents.md
Labels: api, graphql

#2650 I've updated the cluster overview page to hopefully make it a little …
  pages/apis/rest_api/clusters.md
  pages/apis/rest_api/pipelines.md
  pages/clusters/overview.md
  pages/pipelines/cluster_queue_metrics.md
Labels: pipelines, api, rest

#2658 changed the agent heartbeat timeout in the logs to accuratly reflect …
  pages/agent/v3.md
Labels: agent

#2653 Add Cypress to Test Analytics Javascript collectors
  pages/test_analytics.md
  pages/test_analytics/javascript_collectors.md
Labels: test-analytics

#2651 Lpc compute docs
  data/nav.yml
  pages/pipelines/hosted_agents/code_access.md
  pages/pipelines/hosted_agents/linux.md
  pages/pipelines/hosted_agents/mac.md
  pages/pipelines/hosted_agents/overview.md
  pages/pipelines/hosted_agents/pipeline_migration.md
  vale/styles/vocab.txt
Labels: pipelines

#2666 fixed an issue with https for both public and private repositories
  pages/pipelines/hosted_agents/pipeline_migration.md
Labels: pipelines

#2664 Wording tweaks for Buildkite hosted agents docs
  pages/pipelines/hosted_agents/code_access.md
  pages/pipelines/hosted_agents/linux.md
  pages/pipelines/hosted_agents/mac.md
  pages/pipelines/hosted_agents/overview.md
  pages/pipelines/hosted_agents/pipeline_migration.md
  styleguides/markdown-syntax-style.md
Labels: pipelines

#2642 Clusters GA updates to the docs
  data/graphql/schema.graphql
  data/nav.yml
  images/docs/agent/v3/queues/agent-queues.png
  images/docs/clusters/overview/clusters-architecture.png
  pages/agent/v3/cli_start.md
  pages/agent/v3/queues.md
  pages/agent/v3/securing.md
  pages/agent/v3/tokens.md
  pages/agent/v3/unclustered_tokens.md
  pages/apis/api_differences.md
  pages/apis/graphql/cookbooks/agents.md
  pages/apis/graphql/cookbooks/clusters.md
  pages/apis/rest_api/agents.md
  pages/apis/rest_api/clusters.md
  pages/apis/rest_api/pipelines.md
  pages/apis/webhooks.md
  pages/apis/webhooks/_agent_events_table.md
  pages/apis/webhooks/agent_events.md
  pages/apis/webhooks/agent_token_events.md
  pages/clusters/manage_clusters.md
  pages/clusters/manage_queues.md
  pages/clusters/overview.md
  pages/integrations/amazon_eventbridge.md
  pages/pipelines/cluster_queue_metrics.md
  pages/pipelines/hosted_agents/overview.md
Labels: pipelines, api, graphql, rest, agent, integrations

#2670 Correct Header level as section was appearing as sub-section
  pages/apis/graphql/cookbooks/pipelines.md
Labels: api, graphql

#2655 Add example of using GraphQL to create Builds on Pipelines
  pages/apis/graphql/cookbooks/builds.md
Labels: api, graphql

#2674 Fixes to clusters overview page.
  pages/agent/v3/unclustered_tokens.md
  pages/clusters/overview.md
Labels: agent

#2677 Change the plan's name to the existing one
  pages/pipelines/command_step.md
  pages/pipelines/job_minutes.md
  vale/styles/Buildkite/h1-h6_sentence_case.yml
Labels: pipelines

#2678 Update clusters.md
  pages/apis/graphql/cookbooks/clusters.md
Labels: api, graphql

#2679 Update clusters.md
  pages/apis/graphql/cookbooks/clusters.md
Labels: api, graphql
