Repository buildkite/docs, pull requests merged in 2024-03, with the labels that each got.

#2668 Update Agent Help for Agent Version 3.65.0
  pages/agent/v3/help/_annotate.md
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_start.md
Labels: agent

#2669 Clusters GA post-release doc updates
  pages/agent/v3/tokens.md
  pages/apis/descriptions/_common_agent_token_description_required.md
  pages/apis/descriptions/_common_create_cluster_fields.md
  pages/apis/descriptions/_common_create_queue_fields.md
  pages/apis/descriptions/_graphql_agent_token_id.md
  pages/apis/descriptions/_graphql_allowed_ip_addresses.md
  pages/apis/descriptions/_graphql_cluster_id.md
  pages/apis/descriptions/_graphql_organization_id.md
  pages/apis/descriptions/_rest_access_token.md
  pages/apis/descriptions/_rest_agent_token_description_optional.md
  pages/apis/descriptions/_rest_agent_token_id.md
  pages/apis/descriptions/_rest_allowed_ip_addresses.md
  pages/apis/descriptions/_rest_cluster_id.md
  pages/apis/descriptions/_rest_cluster_id_body.md
  pages/apis/descriptions/_rest_org_slug.md
  pages/apis/rest_api/clusters.md
  pages/clusters/manage_clusters.md
  pages/clusters/manage_queues.md
  pages/clusters/overview.md
  styleguides/markdown-syntax-style.md
Labels: api, rest, agent

#2687 Update list of job states to include expired
  pages/pipelines/_job_states.md
Labels: pipelines

#2690 docs: fix example in cli_oidc.md
  pages/agent/v3/cli_oidc.md
Labels: agent

#2697 Correct the 'list organizations' REST API endpoint description.
  pages/apis.md
  pages/apis/rest_api/organizations.md
Labels: api, rest

#2680 Call out that signed pipelines are not compatible with pipeline templates
  pages/agent/v3/signed_pipelines.md
Labels: agent

#2667 Cron Job Permission Considuration
  pages/pipelines/scheduled_builds.md
Labels: pipelines

#2701 docs: fix wrong pipeline template mutation example in cookbook
  pages/apis/graphql/cookbooks/pipeline_templates.md
Labels: api, graphql

#2671 Update Permissions with teams section with screenshots and links
  images/docs/test_analytics/permissions/team-section-list.png
  images/docs/test_analytics/permissions/team-section-test-suites-list.png
  images/docs/test_analytics/permissions/user-section-teams-list.png
  pages/test_analytics/permissions.md
Labels: test-analytics

#2686 Add examples of GraphQL multiple mutations with single queries
  pages/apis/graphql/cookbooks/pipelines.md
  vale/styles/vocab.txt
Labels: api, graphql

#2612 [FDN-3587] Add new Orgs / Teams / Suites REST API Documentation
  app/models/beta_pages.rb
  config/routes.rb
  data/nav.yml
  pages/agent/v3/tokens.md
  pages/apis/agent_api/metrics.md
  pages/apis/descriptions/_rest_agent_token_id.md
  pages/apis/descriptions/_rest_cluster_id.md
  pages/apis/descriptions/_rest_cluster_id_body.md
  pages/apis/descriptions/_rest_org_slug.md
  pages/apis/rest_api.md
  pages/apis/rest_api/access_token.md
  pages/apis/rest_api/agents.md
  pages/apis/rest_api/analytics/flaky_tests.md
  pages/apis/rest_api/analytics/runs.md
  pages/apis/rest_api/analytics/suites.md
  pages/apis/rest_api/analytics/tests.md
  pages/apis/rest_api/annotations.md
  pages/apis/rest_api/artifacts.md
  pages/apis/rest_api/builds.md
  pages/apis/rest_api/clusters.md
  pages/apis/rest_api/emojis.md
  pages/apis/rest_api/jobs.md
  pages/apis/rest_api/organizations.md
  pages/apis/rest_api/organizations/members.md
  pages/apis/rest_api/pipeline_templates.md
  pages/apis/rest_api/pipelines.md
  pages/apis/rest_api/teams.md
  pages/apis/rest_api/teams/members.md
  pages/apis/rest_api/teams/pipelines.md
  pages/apis/rest_api/teams/suites.md
  pages/apis/rest_api/user.md
  pages/clusters/manage_clusters.md
Labels: api, rest, agent

#2704 Add context around [skip ci] use and builds not triggering
  pages/pipelines/skipping.md
Labels: pipelines

#2672 [PIE-2212] Add docs for team assignment and badges
  data/nav.yml
  images/docs/test_analytics/flaky_test_assignment/flaky-test-no-teams.png
  images/docs/test_analytics/flaky_test_assignment/flaky-test-teams.png
  images/docs/test_analytics/flaky_test_assignment/outdated-assignments.png
  images/docs/test_analytics/flaky_test_assignment/recent-assignments.png
  images/docs/test_analytics/flaky_test_assignment/team-settings.png
  pages/test_analytics/flaky_test_assignment.md
Labels: test-analytics

#2706 Minor wording tweaks to REST API authentication section.
  pages/apis/rest_api.md
  styleguides/writing-style.md
Labels: api

#2712 Removing reference to Github and CircleCI plugin in TA
  pages/test_analytics/importing_json.md
  pages/test_analytics/importing_junit_xml.md
Labels: test-analytics

#2710 Agent 3.66
  data/nav.yml
  pages/agent/v3.md
  pages/agent/v3/cli_redactor.md
  pages/agent/v3/cli_secret.md
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_pipeline_upload.md
  pages/agent/v3/help/_redactor_add.md
  pages/agent/v3/help/_secret_get.md
  pages/agent/v3/help/_start.md
  pages/agent/v3/help/_tool_sign.md
  scripts/update-agent-help.sh
Labels: agent

#2707 Add packages docs
  app/models/beta_pages.rb
  data/nav.yml
  pages/apis/descriptions/_common_create_cluster_fields.md
  pages/apis/rest_api/analytics/suites.md
  pages/apis/webhooks/build_events.md
  pages/clusters/manage_clusters.md
  pages/integrations/amazon_eventbridge.md
  pages/packages.md
  pages/packages/debian.md
  pages/packages/getting_started.md
  pages/packages/gradle.md
  pages/packages/manage_repositories.md
  pages/packages/maven.md
  pages/packages/python.md
  pages/packages/terraform.md
  styleguides/markdown-syntax-style.md
  vale/styles/Buildkite/h1-h6_sentence_case.yml
  vale/styles/vocab.txt
Labels: api, rest, integrations

#2709 add: visibility to deprecation of unclustered agents message
  pages/agent/v3/unclustered_tokens.md
Labels: agent

#2645 Add a note about quota limit for slack notification services
  pages/integrations/slack.md
Labels: integrations

#2603 fix: update sender from string to object
  pages/apis/webhooks/build_events.md
Labels: api

#2713 Add example GraphQL query to get retry information for a Job
  pages/apis/graphql/cookbooks/jobs.md
Labels: api, graphql

#2718 docs: Add GraphQL example of associating Pipeline with a Cluster
  pages/apis/graphql/cookbooks/clusters.md
Labels: api, graphql

#2727 Minor wording improvements
  pages/packages.md
  pages/tutorials/github_actions.md
Labels: pipelines

#2724 [PS-60] Update pipelines REST API documentation
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#2732 [PIE-2406] Add new suite fields to suite apis
  pages/apis/rest_api/analytics/suites.md
  vale/styles/vocab.txt
Labels: api, rest
