Repository buildkite/docs, pull requests merged in 2024-06, with the labels that each got.

#2814 Fix typo
  pages/integrations/sso/okta.md
Labels: integrations

#2822 Packages beta subsequent updates
  pages/packages.md
  pages/packages/_javascript_registry_name.md
  pages/packages/_javascript_registry_read_token.md
  pages/packages/_javascript_registry_write_token.md
  pages/packages/_ruby_registry_write_token.md
  pages/packages/getting_started.md
  pages/packages/javascript.md
  pages/packages/permissions.md
  pages/packages/python.md
  pages/packages/ruby.md
  pages/packages/terraform.md
  pages/team_management/permissions.md
  pages/test_analytics/permissions.md
  vale/styles/Buildkite/h1-h6_sentence_case.yml
Labels: test-analytics

#2826 removed the experiment highlight from the k8s implementation doc
  pages/agent/v3.md
Labels: agent

#2824 Buildkite Packages post-beta pre-GA docs updates
  data/nav.yml
  pages/packages.md
  pages/packages/permissions.md
  pages/packages/private_storage.md
  pages/team_management/permissions.md
  pages/test_analytics/permissions.md
Labels: test-analytics

#2829 Add references to the Buildkite Agent Stack for Kubernetes in the AWS…
  pages/agent/v3/aws.md
  pages/agent/v3/gcloud.md
Labels: agent

#2831 Add details about API calls for creating pipelines requiring the appr…
  pages/apis/graphql/cookbooks/pipelines.md
  pages/apis/rest_api/pipelines.md
Labels: api, graphql, rest

#2832 A number of updates to reflect recent UI changes to Buildkite.
  pages/clusters/manage_queues.md
  pages/pipelines/hosted_agents/terminal_access.md
  pages/team_management/permissions.md
  pages/test_analytics/permissions.md
  pages/tutorials/getting_started.md
Labels: test-analytics, pipelines

#2827 docs: include sleep command in hosted agent terminal access docs
  pages/pipelines/hosted_agents/terminal_access.md
Labels: pipelines

#2821 Fix cookbook example query
  pages/apis/graphql/cookbooks/jobs.md
Labels: api, graphql

#2833 REST api docs: Update example json with correct agent web_url formats
  pages/apis/rest_api/agents.md
Labels: api, rest

#2834 Update doc for agent 3.74.0
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_start.md
  pages/agent/v3/help/_tool_sign.md
Labels: agent

#2816 Update the Group steps Docs page with block and input as allowed step…
  pages/pipelines/group_step.md
Labels: pipelines

#2813 PIE-2499: Create test ownership page
  app/models/beta_pages.rb
  data/nav.yml
  pages/test_analytics/test_ownership.md
  vale/styles/Buildkite/h1-h6_sentence_case.yml
Labels: test-analytics, draft

#2835 some sample text to chat about for our 1-week SLA on Xcode versions
  pages/pipelines/hosted_agents/mac.md
Labels: pipelines

#2838 Correct build export expiry from 12 months to 18 months
  pages/pipelines/build_exports.md
Labels: pipelines

#2841 Update elastic stack and agent versions
  data/content/aws-stack.yml
  pages/agent/v3/elastic_ci_aws.md
Labels: agent

#2844 Hard limit for S3 artifact upload size
  pages/agent/v3/cli_artifact.md
Labels: agent

#2836 Add flaky resolution to the docs
  images/docs/test_analytics/flaky_test_assignment/flaky-test-teams.png
  pages/test_analytics/flaky_test_assignment.md
Labels: test-analytics

#2839 Improve the layout of info on the 'Test ownership' page.
  pages/test_analytics/test_ownership.md
Labels: test-analytics

#2853 Add an information block for using step-level vs build-level notifications
  pages/pipelines/notifications.md
Labels: pipelines

#2807 update: add triggered pipeline cancellation explanation
  pages/pipelines/trigger_step.md
Labels: pipelines

#2856 Update the 'curl' command response to the base REST API endpoint.
  pages/apis/rest_api.md
Labels: api

#2857 Add --testLocationInResults flag to Jest setup
  pages/test_analytics/javascript_collectors.md
Labels: test-analytics

#2847 Adding documentation for using the git-ssh-checkout plugin with Buildkite hosted agents
  images/docs/pipelines/hosted_agents/code_access/pipeline-creation.png
  images/docs/pipelines/hosted_agents/code_access/secret-creation.png
  pages/pipelines/hosted_agents/code_access.md
  pages/pipelines/hosted_agents/pipeline_migration.md
Labels: pipelines
