Repository buildkite/docs, pull requests merged in 2024-05, with the labels that each got.

#2750 Add deployments oidc pages
  config/routes.rb
  data/nav.yml
  images/docs/pipelines/security/audit_log/audit-log-in-organization-settings.png
  images/docs/pipelines/security/audit_log/organization-activity.png
  images/docs/pipelines/security/audit_log/query-and-export.png
  images/docs/pipelines/security/overview/data-flow.png
  pages/agent/v2.md
  pages/agent/v2/cli_artifact.md
  pages/agent/v2/gcloud.md
  pages/agent/v2/hooks.md
  pages/agent/v2/securing.md
  pages/agent/v3.md
  pages/agent/v3/cli_artifact.md
  pages/agent/v3/cli_oidc.md
  pages/agent/v3/gcloud.md
  pages/agent/v3/hooks.md
  pages/agent/v3/securing.md
  pages/integrations/amazon_eventbridge.md
  pages/integrations/artifactory.md
  pages/integrations/github.md
  pages/integrations/pagerduty.md
  pages/pipelines/environment_variables.md
  pages/pipelines/hosted_agents/overview.md
  pages/pipelines/managing_log_output.md
  pages/pipelines/migrate_from_jenkins.md
  pages/pipelines/security/audit_log.md
  pages/pipelines/security/incoming_webhooks.md
  pages/pipelines/security/managing_secrets.md
  pages/pipelines/security/oidc.md
  pages/pipelines/security/oidc/aws.md
  pages/pipelines/security/overview.md
  pages/test_analytics/android_collectors.md
  pages/test_analytics/importing_json.md
  pages/test_analytics/importing_junit_xml.md
  pages/test_analytics/javascript_collectors.md
  pages/test_analytics/python_collectors.md
  pages/test_analytics/ruby_collectors.md
  pages/test_analytics/swift_collectors.md
Labels: test-analytics, pipelines, agent, integrations

#2761 Securing your Buildkite Agent and environment variables
  pages/agent/v3/securing.md
Labels: agent

#2766 Update markdown-syntax-style.md and other fixes
  data/nav.yml
  pages/agent/v3/elastic_ci_stack_for_ec2_mac/troubleshooting.md
  pages/pipelines/security/oidc/aws.md
  pages/platform/_deriving_a_pipeline_slug_from_the_pipelines_name.md
  styleguides/markdown-syntax-style.md
  styleguides/writing-style.md
Labels: pipelines, agent

#2772 SUP-1904: Update info on same key attribute value with groups and steps
  pages/pipelines/group_step.md
Labels: pipelines

#2783 Bump elastic stack version
  data/content/aws-stack.yml
  pages/agent/v3/elastic_ci_aws.md
Labels: agent

#2737 Hosted Agents Cache Volume Docs
  images/docs/pipelines/hosted_agents/linux/hosted-agents-cache-settings.png
  pages/pipelines/hosted_agents/linux.md
  styleguides/writing-style.md
Labels: pipelines

#2790 Update Agent Metrics API Authorization type
  pages/apis/agent_api/metrics.md
Labels: api

#2782 Sup 2161 - Update Artifactory docs wording for Uploading/Downloading via Buildkite-Agent
  pages/integrations/artifactory.md
Labels: integrations

#2786 Document new features for Buildkite hosted agents GA release
  data/nav.yml
  images/docs/pipelines/hosted_agents/terminal_access/terminal-button-on-job.png
  pages/agent/v3/cli_secret.md
  pages/clusters/manage_queues.md
  pages/pipelines/buildkite_secrets.md
  pages/pipelines/hosted_agents/linux.md
  pages/pipelines/hosted_agents/terminal_access.md
Labels: in progress, pipelines, agent

#2793 Fix '- wait:' syntax for pipeline dependencies page (and wait step page too).
  pages/pipelines/dependencies.md
  pages/pipelines/wait_step.md
Labels: in progress, pipelines

#2773 SUP-1947: Add documentation and example of using YAML overrides
  pages/plugins/using.md
Labels: plugins

#2796 Post-Buildkite hosted agents GA release doc updates
  pages/agent/v3/tokens.md
  pages/clusters/manage_clusters.md
  pages/clusters/manage_queues.md
  pages/pipelines/buildkite_secrets.md
  pages/pipelines/create_your_own.md
  pages/pipelines/glossary.md
  pages/pipelines/hosted_agents/overview.md
  pages/pipelines/security/managing_secrets.md
  pages/tutorials/getting_started.md
  styleguides/writing-style.md
Labels: pipelines, agent

#2800 Add container cache docs and update images of cache settings
  images/docs/pipelines/hosted_agents/linux/hosted-agents-cache-settings.png
  images/docs/pipelines/hosted_agents/linux/hosted-agents-container-caching.png
  images/docs/pipelines/hosted_agents/linux/hosted-agents-git-mirror.png
  pages/pipelines/hosted_agents/linux.md
Labels: pipelines

#2802 Update agent cli docs with better description for 'secret get'
  data/nav.yml
  pages/agent/v3/cli_reference.md
  pages/agent/v3/help/_secret_get.md
Labels: agent

#2503 Troubleshooting concurrency groups
  pages/pipelines/controlling_concurrency.md
Labels: support-docs, pipelines

#2804 Correct playwright config variable
  pages/test_analytics/javascript_collectors.md
Labels: test-analytics

#2629 Controlling concurrency page updates + general docs spelling updates
  pages/agent/v3.md
  pages/apis/rest_api/builds.md
  pages/apis/rest_api/pipelines.md
  pages/pipelines/command_step.md
  pages/pipelines/controlling_concurrency.md
  pages/pipelines/dashboard_walkthrough.md
  pages/pipelines/job_minutes.md
  pages/test_analytics/ruby_collectors.md
Labels: test-analytics, pipelines, api, rest, agent

#2806 fix broken curl command lines
  pages/apis/rest_api/agents.md
Labels: api, rest

#2809 PIE-2507: Remove run issues from docs
  data/tiles.yml
  images/docs/test_analytics/test_suites/test-execution-stats.png
  pages/test_analytics/test_suites.md
Labels: test-analytics
