Repository buildkite/docs, pull requests merged in 2024-08, with the labels that each got.

#2919 Updates for Agent v3.76.2 and Elastic CI Stack v6.22.4
  data/content/aws-stack.yml
  pages/agent/v3/elastic_ci_aws.md
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_step_get.md
Labels: agent

#2883 Add description for hook failure behaviour.
  data/nav.yml
  pages/agent/v3/hooks.md
  pages/pipelines/glossary.md
Labels: pipelines, agent

#2924 [PIE-2574] Add viewing test ownership docs
  images/docs/test_analytics/test_ownership/test-ownership.png
  pages/test_analytics/test_ownership.md
Labels: test-analytics

#2888 Add `branch` parameter to TA flaky-tests docs
  pages/apis/rest_api/analytics/_flaky_tests_query_strings.md
Labels: api, rest

#2905 remove fragment from when we didn't offer custom images
  pages/pipelines/hosted_agents/linux.md
Labels: pipelines

#2743 docs: Update NGINX proxy example with best practises
  pages/integrations/github_enterprise.md
  vale/styles/vocab.txt
Labels: integrations

#2923 Add information on using priority as a global value
  pages/pipelines/managing_priorities.md
Labels: pipelines

#2921 This small change ensures all dependencies used are installed
  pages/agent/v3/debian.md
Labels: agent

#2929 update the aws elastic ci stack to v6.23.0
  data/content/aws-stack.yml
  pages/agent/v3/elastic_ci_aws.md
Labels: agent

#2909 Messaging around possible differences in state expectations
  pages/apis/rest_api/builds.md
  pages/pipelines/_build_states.md
  pages/pipelines/_job_states.md
Labels: pipelines, api, rest

#2934 Add `priority` to POST to annotations
  pages/apis/rest_api/annotations.md
Labels: api, rest

#2928 SUP-2512 | Update pipelines.md
  pages/apis/rest_api/teams/pipelines.md
Labels: api, rest

#2938 Fix typo in TESTOWNERS example
  pages/test_analytics/test_ownership.md
Labels: test-analytics

#2895 fixing the path to env file
  pages/pipelines/security/secrets/managing.md
Labels: pipelines

#2910 Update the documentation regarding which types of notifications can be configured at each level: Build vs. Step
  pages/pipelines/notifications.md
Labels: pipelines

#2925 Rework OIDC page intros.
  pages/packages/security/oidc.md
  pages/pipelines/security/oidc.md
  pages/pipelines/security/oidc/aws.md
  pages/platform/_buildkite_agent_oidc_token_overview.md
  pages/platform/_oidc_introduction.md
Labels: pipelines

#2941 Fix spelling of Organization
  pages/integrations/sso.md
Labels: integrations

#2942 Add standard eventbridge fields to the example payloads
  pages/integrations/amazon_eventbridge.md
Labels: integrations

#2884 Add test splitting setup page to the docs.
  data/nav.yml
  pages/test_analytics/test_splitting.md
  vale/styles/vocab.txt
Labels: test-analytics

#2946 Document last_resolved_at flaky-tests api field
  pages/apis/rest_api/analytics/flaky_tests.md
Labels: api, rest

#2948 Fix playwright typos
  pages/test_analytics/javascript_collectors.md
Labels: test-analytics
