Repository buildkite/docs, pull requests merged in 2024-04, with the labels that each got.

#2222 Add "Cluster" to the glossary
  pages/pipelines/glossary.md
Labels: pipelines

#2738 Update stale info about API differences regarding teams endpoints
  pages/apis/api_differences.md
Labels: api

#2740 Update EC2 Mac instructions for macOS Sonoma
  pages/agent/v3/elastic_ci_stack_for_ec2_mac/autoscaling_mac_metal.md
  pages/agent/v3/elastic_ci_stack_for_ec2_mac/troubleshooting.md
Labels: agent

#2741 Add references to the Pipeline templates onto the docs
  pages/pipelines/create_your_own.md
  pages/pipelines/example_pipelines.md
  pages/tutorials/bazel.md
  pages/tutorials/docker_containerized_builds.md
Labels: pipelines, Needs Review

#2722 PIE-2393: Update flaky test api docs with optional query param
  images/docs/test_analytics/flaky_test_assignment/flaky-test-no-teams.png
  images/docs/test_analytics/flaky_test_assignment/flaky-test-teams.png
  pages/apis/rest_api/analytics/_flaky_tests_query_strings.md
  pages/apis/rest_api/analytics/flaky_tests.md
Labels: api, rest, hold for next release

#2736 Update builds.md
  pages/apis/graphql/cookbooks/builds.md
Labels: api, graphql

#2748 docs: link to RFC for JWTs
  pages/agent/v3/cli_oidc.md
Labels: agent

#2752 docs: link to RFC for JWTs
  pages/agent/v3/cli_oidc.md
Labels: agent

#2639 Prevent dev logs from spamming hot module reloading
  vite.config.ts
Labels: bug

#2760 Update man pages for agent release 3.70.0
  pages/agent/v3/help/_bootstrap.md
  pages/agent/v3/help/_start.md
Labels: agent

#2759 SSO is available on Pro and Enterprise plans
  pages/integrations/sso.md
Labels: integrations

#2762 Remove 'Team' plan refs and change 'Business' plan refs to 'Pro'
  pages/integrations/amazon_eventbridge.md
  pages/integrations/bitbucket_server.md
  pages/integrations/github_enterprise.md
  pages/pipelines/build_retention.md
  pages/pipelines/waterfall.md
  pages/team_management/permissions.md
  pages/test_analytics/permissions.md
  pages/tutorials/migrating_from_bamboo.md
Labels: test-analytics, pipelines, integrations

#2763 Clarify metrics not on unclustered
  pages/pipelines/cluster_queue_metrics.md
Labels: pipelines

#2630 Automatic retries and `exit_status` allowable codes
  pages/pipelines/command_step.md
Labels: pipelines

#2593 Update public_test_suites.md
  pages/test_analytics/public_test_suites.md
Labels: test-analytics

#2637 update build notification email docs
  pages/pipelines/notifications.md
Labels: pipelines

#2595 Link to build-states
  pages/pipelines/build_timeouts.md
Labels: pipelines

#2463 Update pipelines.md
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#2221 Update defining_steps.md
  pages/pipelines/defining_steps.md
Labels: pipelines

#2755 Slug generation
  pages/apis/graphql/cookbooks/pipelines.md
  pages/apis/rest_api/pipelines.md
  pages/pipelines/create_your_own.md
  pages/platform/_deriving_a_pipeline_slug_from_the_pipelines_name.md
Labels: pipelines, api, graphql, rest

#2589 Add signal reason to job finished event
  pages/integrations/amazon_eventbridge.md
Labels: integrations

#2768 Update write_agents scope description
  pages/apis/managing_api_tokens.md
Labels: api

#2757 SUP-2072: Add example of using GraphQL to get the Download URL for Artifacts from a Build
  data/nav_graphql.yml
  pages/apis/graphql/cookbooks/artifacts.md
Labels: api, graphql

#2493 Example of getting team member
  pages/apis/graphql/cookbooks/teams.md
Labels: support-docs, api, graphql

#2770 Update managing_log_output.md
  pages/pipelines/managing_log_output.md
Labels: pipelines

#2751 Add troubleshooting for TA tests not grouping
  pages/test_analytics/ruby_collectors.md
Labels: test-analytics
