Repository buildkite/docs, pull requests merged in 2025-01, with the labels that each got.

#3020 SUP-2860/update-job-queue-api
  pages/apis/graphql/cookbooks/jobs.md
Labels: api, graphql

#3025 Add "branches" to wait step
  pages/pipelines/configure/step_types/wait_step.md
Labels: pipelines

#3026 Make `cluster_id` just required (not optional as well)
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#3027 `cluster_id` is the UUID ID, not the b64 encoded one
  pages/apis/rest_api/pipelines.md
Labels: api, rest

#3028 Remove additional optional mention of cluster_id on other pipeline creation section and fix value type.
  pages/apis/rest_api/pipelines.md
Labels: api, rest
